.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-whight, 0.6); // to transparent
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    transform: skewX(0);
  }

  //   & > * {
  //     transform: skewX(12deg); // that is not appleied to image because 2 transform cant apply to one element
  //   }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    border-radius: 50%;
    overflow: hidden;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);

      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(
        50% at 50% 50%
      ); // circle(radius at horizonticalPoint verticalPoint)  were the content shape arount the elements

      border-radius: none;
    }

    transform: translateX(-3rem) skewX(12deg);

    position: relative;

    @include respond(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__img {
    height: 100%;
    // -webkit-transform: translate(-4rem) scale(1.4);
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &__text {
    transform: skewX(12deg);

    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-whight;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; // to hide little shake after animation
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    // -webkit-transform: translate(-4rem) scale(1.4);
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}
